@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  background: #f4ca9e;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 110px;
}

.form-container h1 {
  font-family: 'Coiny', cursive;
  font-size: 48px;
  margin-bottom: 30px;
  color: #c47321;
}

.form-container label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  color: #5e3b09;
}

.form-container input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 2px solid #c47321;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  background-color: #fffdf7;
  transition: 0.3s;
}

.form-container input:focus {
  border-color: #9e540a;
  box-shadow: 0 0 10px #c47321;
}

.form-container button {
  padding: 15px;
  width: 100%;
  background: linear-gradient(90deg, #c47321, #9e540a);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

.form-container button:hover {
  background: linear-gradient(90deg, #c96806, #8f4904);
  box-shadow: 0 0 10px #000000;
}

@media (max-width: 1024px) {
  body.login-page {
      padding-right: 5%;
  }

  body.login-page .login-form {
      max-width: 500px;
      height: auto;
      padding: 30px 20px;
  }

  body.login-page h1 {
      font-size: 48px;
  }
}

@media (max-width: 768px) {
  body.login-page {
      justify-content: center;
      padding: 20px;
  }

  body.login-page .login-form {
      width: 100%;
      max-width: 90%;
      height: auto;
      padding: 25px 15px;
  }

  body.login-page h1 {
      font-size: 36px;
  }

  body.login-page input {
      padding: 16px;
      margin: 30px 0;
      font-size: 14px;
  }

  body.login-page button {
      padding: 20px;
      font-size: 18px;
  }

  .button-group {
      flex-direction: column;
      gap: 5px;
  }
}

@media (max-width: 480px) {
  body.login-page h1 {
      font-size: 28px;
  }

  body.login-page input {
      padding: 14px;
      margin: 25px 0;
      font-size: 13px;
  }

  body.login-page button {
      padding: 18px;
      font-size: 16px;
  }

  .button-group {
      flex-direction: column;
      gap: 5px;
  }
}
@media (max-width: 320px) {
  body.login-page h1 {
      font-size: 24px;
  }

  body.login-page input {
      padding: 12px;
      margin: 20px 0;
      font-size: 12px;
  }

  body.login-page button {
      padding: 16px;
      font-size: 14px;
  }
}
@media (max-width: 240px) {
  body.login-page h1 {
      font-size: 20px;
  }

  body.login-page input {
      padding: 10px;
      margin: 15px 0;
      font-size: 11px;
  }

  body.login-page button {
      padding: 14px;
      font-size: 12px;
  }
}
